/* h1 {
    font-size: 20px;
}
input {
    border-color: black;
}

body {
    background-image: conic-gradient(at 50% 50%,#561BBE 15deg, #FA8792 30deg, #70E6FB 45deg, #FBF8B3);
    background-repeat: no-repeat;
    background-size: cover;
} */