<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
<div>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/register">SIGN UP</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
</div>
<h1>{% include "header.html" %}</h1>
<div>
    <body>
        {% block content %}{% endblock %}
    </body>
</div>
<footer>
    <div class="flex justify-center">
        This is fun
    </div>
</footer>
</html>